body {
  font-family: Arial, sans-serif;
  background: #fafafa;
}

.container {
  width: 90%;
  margin: auto;
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 180px;
  padding: 10px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ddd;
}

.card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}
.card button {
  width: 100%;
  margin-top: 6px;
}

.cart {
  margin-top: 40px;
  background: white;
  padding: 15px;
  box-shadow: 0 2px 5px #ddd;
}

.cart-row {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
}

.checkout-btn {
  margin-top: 10px;
  padding: 10px;
}

.modal {
  position: fixed;
  top:0; left:0;
  width:100%; height:100%;
  background: rgba(0,0,0,0.6);
  display:flex;
  justify-content:center;
  align-items:center;
}

.modal-box {
  background:white;
  padding:20px;
  border-radius:6px;
  width:300px;
  display:flex;
  flex-direction:column;
  gap:10px;
}
